### Read data from wikipedia page

In [47]:
import pandas as pd
tables = pd.read_html('https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M')
df=tables[0]

In [48]:
df.head()

  Postal Code           Borough              Neighbourhood
0         M1A      Not assigned               Not assigned
1         M2A      Not assigned               Not assigned
2         M3A        North York                  Parkwoods
3         M4A        North York           Victoria Village
4         M5A  Downtown Toronto  Regent Park, Harbourfront

In [18]:
# size of dataframe before cleaning
df.shape

(180, 3)

### Data cleaning

In [46]:
# leave cells only with assigned burrows
df_clean=df[df['Borough']!='Not assigned']

# reset index after dropping row
df_clean.reset_index(drop=True, inplace=True)

Empty DataFrame
Columns: [Postal Code, Borough, Neighbourhood]
Index: []

In [49]:
# check if there are any areas with unassigned neighbourhouds
df_clean[df_clean['Neighbourhood']==df_clean['Borough']].shape

(0, 3)

There are now such areas, therefore data cleaning is finished !

In [51]:
# cleaned dataframe
df_clean.head()

  Postal Code           Borough                                Neighbourhood
0         M3A        North York                                    Parkwoods
1         M4A        North York                             Victoria Village
2         M5A  Downtown Toronto                    Regent Park, Harbourfront
3         M6A        North York             Lawrence Manor, Lawrence Heights
4         M7A  Downtown Toronto  Queen's Park, Ontario Provincial Government

In [53]:
# Number of rows in cleaned dataframe
df_clean.shape[0]

103